<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.bjbls.forum.dao.CustomerDao">
    <!-- parameterType表示要传入的参数的类型 ，resultType表示要返回的数据的类型-->

    <!-- 处理登录操作 -->
    <select id="login"  resultType="Customer">
        select * from customer where username=#{username} and password=#{password}
    </select>

    <delete id="delete" >
        delete from customer where id=#{id}
    </delete>

    <select id="get"  resultType="Customer">
        select * from customer where id=#{id}
    </select>
    <!-- 处理注册检测账户名username操作 -->
    <select id="addCs" resultType="int">
      select count(id) from customer where username=#{username}
    </select>
    <!-- 处理注册操作 -->
    <insert id="add">
          insert into customer(id,username,password,name)
          values(null,#{username},#{password},#{name})
    </insert>
    <!-- 处理用户密码更新操作 -->
    <update id="updatePassword">
        update customer set password=#{password} where  id=#{id}
    </update>
</mapper>