<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.bjbls.forum.dao.SendCusDao">
    <!-- parameterType表示要传入的参数的类型 ，resultType表示要返回的数据的类型-->
    <resultMap type="SendCus" id="send">
        <!-- 关联对象属性association，property指属性名， -->
        <association property="customer" javaType="Customer" column="cusid2" select="com.bjbls.forum.dao.CustomerDao.get">
        </association>

        <association property="send" javaType="Send" column="sendid" select="com.bjbls.forum.dao.SendDao.get">
        </association>
    </resultMap>
    <select id="ALL" resultMap="send">
        select * from cus_send
    </select>
    <select id="get" resultMap="send">
        select * from cus_send where sendid=#{id}
    </select>
    <!--插入数据-->
    <insert id="add">
        insert into cus_send(id,sendid,cusid2,reply)
        values(null,#{send.id},#{customer.id},#{reply})
    </insert>
    <!---->
    <delete id="del">
         delete from cus_send where id=#{id}
    </delete>
</mapper>